In [35]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [36]:
act = pd.read_csv('data/user_activity_log.csv')

In [39]:
act.head()

   user_id  day  page  video_id  author_id  action_type
0  1062323   22     3   2877472     880271            0
1   639898   17     3    740662     210200            0
2  1260200    5     3   3332414     162866            0
3   817201   22     3   1129617     530246            0
4   817201   23     3   1129617     530246            0

In [38]:
act.drop('auth_hotness',axis=1, inplace=True)
act.drop('vid_hotness',axis=1, inplace=True)

In [40]:
vid = pd.DataFrame(act.video_id)
vid['hot'] = 1
vid.head()

   video_id  hot
0   2877472    1
1    740662    1
2   3332414    1
3   1129617    1
4   1129617    1

In [41]:
aut = pd.DataFrame(act.author_id)
aut['hot'] = 1
aut.head()

   author_id  hot
0     880271    1
1     210200    1
2     162866    1
3     530246    1
4     530246    1

In [42]:
v = vid.groupby('video_id').count()
a = aut.groupby('author_id').count()

In [43]:
v.reset_index(inplace=True)
a.reset_index(inplace=True)

In [44]:
v_norm = (v.hot - v.hot.min()) / (v.hot.max() - v.hot.min())

In [45]:
v.hot = v_norm *100

In [46]:
a_norm = (a.hot - a.hot.min()) / (a.hot.max() - a.hot.min())
a.hot = a_norm * 100

In [47]:
a.tail()

        author_id        hot
222212    1367486  13.502432
222213    1367488   0.013899
222214    1367493   0.813065
222215    1367497   0.006949
222216    1367515   0.013899

In [48]:
a.rename(columns={'hot':'auth_hotness'}, inplace=True)
v.rename(columns={'hot':'vid_hotness'}, inplace=True)

In [49]:
a.head()

   author_id  auth_hotness
0          4      0.027797
1         12      0.013899
2         26      0.020848
3         33      0.006949
4         35      0.020848

In [50]:
act = pd.merge(act,v,on='video_id',how='left')
act = pd.merge(act,a,on='author_id',how='left')

In [51]:
act.head()

,user_id,day,page,video_id,author_id,action_type,vid_hotness,auth_hotness
0,1062323,22,3,2877472,880271,0,0.000000,0.048645
1,639898,17,3,740662,210200,0,0.000000,0.000000
2,1260200,5,3,3332414,162866,0,0.000000,0.048645
3,817201,22,3,1129617,530246,0,0.078309,0.701876
4,817201,23,3,1129617,530246,0,0.078309,0.701876

In [52]:
act.to_csv('data/user_activity_log.csv', index=False)

In [53]:
act.auth_hotness.describe()

count    4.675000e+06
mean     6.275666e+00
std      1.289439e+01
min      0.000000e+00
25%      4.030577e-01
50%      1.869354e+00
75%      6.087561e+00
max      1.000000e+02
Name: auth_hotness, dtype: float64

In [34]:
act.head()

   user_id  day  page  video_id  author_id  action_type  vid_hotness
0  1062323   22     3   2877472     880271            0     0.000000
1   639898   17     3    740662     210200            0     0.000000
2  1260200    5     3   3332414     162866            0     0.000000
3   817201   22     3   1129617     530246            0     0.078309
4   817201   23     3   1129617     530246            0     0.078309