In [1]:
import pandas as pd

In [12]:
a = pd.DataFrame([1,2,3,4,5,6,6])

In [13]:
a

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  6

In [21]:
int (a.var())

3

In [22]:
a['jk'] = [1,2,3,4,5,6,7]

In [23]:
a

   0  jk
0  1   1
1  2   2
2  3   3
3  4   4
4  5   5
5  6   6
6  6   7

In [24]:
a['type'] = [1,0,0,1,1,1,0]

In [25]:
a

   0  jk  type
0  1   1     1
1  2   2     0
2  3   3     0
3  4   4     1
4  5   5     1
5  6   6     1
6  6   7     0

In [26]:
a['user_id'] = [1,3,5,3,5,1,5]

In [27]:
a

   0  jk  type  user_id
0  1   1     1        1
1  2   2     0        3
2  3   3     0        5
3  4   4     1        3
4  5   5     1        5
5  6   6     1        1
6  6   7     0        5

In [38]:
b = a.groupby(['user_id','type'])

TypeError: 'dict' object is not callable

In [41]:
a = pd.read_csv('data_one.csv')

In [44]:
a.columns

Index(['user_id', 'create_count', 'create_day_diff_mean',
       'create_day_diff_max', 'create_day_diff_min', 'create_day_diff_std',
       'create_day_diff_var', 'last_day_cut_max_day', 'device_type',
       'register_type', 'register_day_cut_max_day', 'launch_count',
       'launch_day_diff_mean', 'launch_day_diff_max', 'launch_day_diff_min',
       'launch_day_diff_std', 'launch_day_diff_var', 'launch_day_cut_max_day',
       'activity_count', 'activity_day_diff_mean', 'activity_day_diff_max',
       'activity_day_diff_min', 'activity_day_diff_std',
       'activity_day_diff_var', 'activity_day_diff_ske',
       'activity_day_diff_kur', 'activity_day_cut_max_day', 'label'],
      dtype='object')