In [27]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [28]:
path ="data/"
app = pd.read_table(path+'app_launch_log.txt',names=['user_id','day'],encoding='utf-8',sep='\t',)
user_act = pd.read_table(path+'user_activity_log.txt',names=['user_id','day','page','video_id','author_id','action_type'],encoding='utf-8',sep='\t')
user_reg = pd.read_table(path+'user_register_log.txt',names=['user_id','register_day','register_type','device_type'],encoding='utf-8',sep='\t')
vedio = pd.read_table(path+'video_create_log.txt',names=['user_id','day'],encoding='utf-8',sep='\t')

In [29]:
app.to_csv('data/app_lauch_log.csv',index=False)
user_act.to_csv('data/user_activity_log.csv',index=False)
user_reg.to_csv('data/user_register_log.csv',index=False)
vedio.to_csv('data/video_create_log.csv',index=False)

In [30]:
app = pd.read_csv('data/app_lauch_log.csv')
user_act = pd.read_csv('data/user_activity_log.csv')
user_reg = pd.read_csv('data/user_register_log.csv')
vedio = pd.read_csv('data/video_create_log.csv')

In [33]:
vedio.describe()

            user_id           day
count  3.515100e+04  35151.000000
mean   6.848656e+05     19.313021
std    3.947289e+05      7.766421
min    9.800000e+01      1.000000
25%    3.430240e+05     14.000000
50%    6.860610e+05     21.000000
75%    1.021778e+06     26.000000
max    1.367473e+06     30.000000

In [34]:
vedio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35151 entries, 0 to 35150
Data columns (total 2 columns):
user_id    35151 non-null int64
day        35151 non-null int64
dtypes: int64(2)
memory usage: 549.3 KB

In [35]:
one_train_path = 'data/one_data_train_'
two_train_path = 'data/two_data_train_'
three_train_path = 'data/three_data_train_'
one_test_path = 'data/one_data_test_'
two_test_path = 'data/two_data_test_'

In [36]:
def cut_data_as_time(new_data_path, begin_day, end_day):
    temp_register = user_reg[(user_reg['register_day'] >= begin_day) & (user_reg['register_day'] <= end_day)]
    temp_create = vedio[(vedio['day'] >= begin_day) & (vedio['day'] <= end_day)]
    temp_launch = app[(app['day'] >= begin_day) & (app['day'] <= end_day)]
    temp_activity = user_act[(user_act['day'] >= begin_day) & (user_act['day'] <= end_day)]
    
    temp_register.to_csv(new_data_path + "register.csv", index = False)
    temp_activity.to_csv(new_data_path + "activity.csv", index = False)
    temp_launch.to_csv(new_data_path + "launch.csv", index = False)
    temp_create.to_csv(new_data_path + "create.csv", index = False)
    print('根据起始和结束时间将数据集取出完成,存入:',new_data_path)

In [37]:
def generate_dataset():
    print('开始划分数据集....')
    begin_day = 1
    end_day = 16
    cut_data_as_time(one_train_path,begin_day, end_day)
    begin_day = 17
    end_day = 23
    cut_data_as_time(one_test_path,begin_day, end_day)
    print('第一数据集划分完成')
    begin_day = 8
    end_day = 23
    cut_data_as_time(two_train_path,begin_day, end_day)
    begin_day = 24
    end_day = 30
    cut_data_as_time(two_test_path,begin_day, end_day)
    print('第二数据集划分完成')
    begin_day = 15
    end_day = 30
    cut_data_as_time(three_train_path,begin_day, end_day)
    print('第二数据集划分完成')
    print('全部数据集划分完成.....')

In [38]:
generate_dataset()

开始划分数据集....
根据起始和结束时间将数据集取出完成,存入: data/one_data_train_
根据起始和结束时间将数据集取出完成,存入: data/one_data_test_
第一数据集划分完成
根据起始和结束时间将数据集取出完成,存入: data/two_data_train_
根据起始和结束时间将数据集取出完成,存入: data/two_data_test_
第二数据集划分完成
根据起始和结束时间将数据集取出完成,存入: data/three_data_train_
第二数据集划分完成
全部数据集划分完成.....