In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [14]:
# path ="data/"
# app = pd.read_table(path+'app_launch_log.txt',names=['user_id','day'],encoding='utf-8',sep='\t',)
# user_act = pd.read_table(path+'user_activity_log.txt',names=['user_id','day','page','video_id','author_id','action_type'],encoding='utf-8',sep='\t')
# user_reg = pd.read_table(path+'user_register_log.txt',names=['user_id','register_day','register_type','device_type'],encoding='utf-8',sep='\t')
# vedio = pd.read_table(path+'video_create_log.txt',names=['user_id','day'],encoding='utf-8',sep='\t')

In [15]:
# app.to_csv('data/app_lauch_log.csv',index=False)
# user_act.to_csv('data/user_activity_log.csv',index=False)
# user_reg.to_csv('data/user_register_log.csv',index=False)
# vedio.to_csv('data/video_create_log.csv',index=False)

In [2]:
app = pd.read_csv('data/app_lauch_log.csv')
user_act = pd.read_csv('data/user_activity_log.csv')
user_reg = pd.read_csv('data/user_register_log.csv')
vedio = pd.read_csv('data/video_create_log.csv')

In [3]:
user_act.head()

,user_id,day,page,video_id,author_id,action_type,vid_hotness,auth_hotness
0,1062323,22,3,2877472,880271,0,0.000000,0.048645
1,639898,17,3,740662,210200,0,0.000000,0.000000
2,1260200,5,3,3332414,162866,0,0.000000,0.048645
3,817201,22,3,1129617,530246,0,0.078309,0.701876
4,817201,23,3,1129617,530246,0,0.078309,0.701876

In [3]:
one_train_path = 'data/one_data_train_'
two_train_path = 'data/two_data_train_'
three_train_path = 'data/three_data_train_'
one_test_path = 'data/one_data_test_'
two_test_path = 'data/two_data_test_'

In [4]:
def cut_data_as_time(new_data_path, begin_day, end_day):
    temp_register = user_reg[(user_reg['register_day'] >= begin_day) & (user_reg['register_day'] <= end_day)]
    temp_create = vedio[(vedio['day'] >= begin_day) & (vedio['day'] <= end_day)]
    temp_launch = app[(app['day'] >= begin_day) & (app['day'] <= end_day)]
    temp_activity = user_act[(user_act['day'] >= begin_day) & (user_act['day'] <= end_day)]
    
    temp_register.to_csv(new_data_path + "register.csv", index = False)
    temp_activity.to_csv(new_data_path + "activity.csv", index = False)
    temp_launch.to_csv(new_data_path + "launch.csv", index = False)
    temp_create.to_csv(new_data_path + "create.csv", index = False)
    print('根据起始和结束时间将数据集取出完成,存入:',new_data_path)

In [5]:
def generate_dataset():
#     print('开始划分数据集....')
#     begin_day = 1
#     end_day = 16
#     cut_data_as_time(one_train_path,begin_day, end_day)
#     begin_day = 17
#     end_day = 23
#     cut_data_as_time(one_test_path,begin_day, end_day)
#     print('第一数据集划分完成')
#     begin_day = 8
#     end_day = 23
#     cut_data_as_time(two_train_path,begin_day, end_day)
#     begin_day = 24
#     end_day = 30
#     cut_data_as_time(two_test_path,begin_day, end_day)
#     print('第二数据集划分完成')
    begin_day = 17
    end_day = 30
    cut_data_as_time(three_train_path,begin_day, end_day)
    print('第三数据集划分完成')
    print('全部数据集划分完成.....')

In [6]:
generate_dataset()

根据起始和结束时间将数据集取出完成,存入: data/three_data_train_
第三数据集划分完成
全部数据集划分完成.....

In [21]:
vedio.head()

   user_id  day
0   720497    1
1   720497    1
2   720497    1
3  1075211    6
4  1075211   12

In [7]:
user_act.tail()

,user_id,day,page,video_id,author_id,action_type,vid_hotness,auth_hotness
4674995,746672,7,3,2500989,237413,0,0.861394,0.236275
4674996,746672,5,1,2500989,237413,0,0.861394,0.236275
4674997,746672,8,3,2500989,237413,0,0.861394,0.236275
4674998,891799,6,0,2219149,719447,0,0.078309,0.097290
4674999,1037474,6,0,2219149,719447,0,0.078309,0.097290