In [70]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [71]:
act = pd.read_csv('data/user_activity_log.csv')

In [72]:
act.video_id.max()

4467106

In [73]:
vid = pd.DataFrame(act.video_id)
vid['hot'] = 1
vid.head()

   video_id  hot
0   2877472    1
1    740662    1
2   3332414    1
3   1129617    1
4   1129617    1

In [74]:
aut = pd.DataFrame(act.author_id)
aut['hot'] = 1
aut.head()

   author_id  hot
0     880271    1
1     210200    1
2     162866    1
3     530246    1
4     530246    1

In [75]:
v = vid.groupby('video_id').count()
a = aut.groupby('author_id').count()

In [76]:
v.reset_index(inplace=True)
a.reset_index(inplace=True)

In [77]:
v_norm = (v.hot - v.hot.min()) / (v.hot.max() - v.hot.min())

In [78]:
v.hot = v_norm *100

In [79]:
a_norm = (a.hot - a.hot.min()) / (a.hot.max() - a.hot.min())
a.hot = v_norm * 100

In [80]:
a.tail()

        author_id       hot
222212    1367486  0.783085
222213    1367488  0.156617
222214    1367493  0.000000
222215    1367497  0.000000
222216    1367515  0.000000

In [81]:
a.rename(columns={'hot':'auth_hotness'}, inplace=True)
v.rename(columns={'hot':'vid_hotness'}, inplace=True)

In [82]:
act = pd.merge(act,v,on='video_id',how='left')
act = pd.merge(act,a,on='author_id',how='left')

In [83]:
act.head()

,user_id,day,page,video_id,author_id,action_type,vid_hotness_x,auth_hotness_x,vid_hotness_y,auth_hotness_y
0,1062323,22,3,2877472,880271,0,0.000000,0.000000,0.000000,0.0
1,639898,17,3,740662,210200,0,0.000000,0.635209,0.000000,0.0
2,1260200,5,3,3332414,162866,0,0.000000,0.000000,0.000000,0.0
3,817201,22,3,1129617,530246,0,0.045372,0.000000,0.078309,0.0
4,817201,23,3,1129617,530246,0,0.045372,0.000000,0.078309,0.0

In [84]:
act.to_csv('data/user_activity_log.csv', index=False)