In [30]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [31]:
act = pd.read_csv('data/user_activity_log.csv')
cre = pd.read_csv('data/video_create_log.csv')

In [33]:
act.head()

   user_id  day  page  video_id  author_id  action_type
0  1062323   22     3   2877472     880271            0
1   639898   17     3    740662     210200            0
2  1260200    5     3   3332414     162866            0
3   817201   22     3   1129617     530246            0
4   817201   23     3   1129617     530246            0

In [34]:
cre.head()

   user_id  day
0   720497    1
1   720497    1
2   720497    1
3  1075211    6
4  1075211   12

In [35]:
vid = pd.DataFrame(act.video_id)
vid['hot'] = 1
vid.head()

   video_id  hot
0   2877472    1
1    740662    1
2   3332414    1
3   1129617    1
4   1129617    1

In [36]:
aut = pd.DataFrame(act.author_id)
aut['hot'] = 1
aut.head()

   author_id  hot
0     880271    1
1     210200    1
2     162866    1
3     530246    1
4     530246    1

In [37]:
v = vid.groupby('video_id').count()
a = aut.groupby('author_id').count()

In [38]:
v.reset_index(inplace=True)
a.reset_index(inplace=True)

In [39]:
v_norm = (v.hot - v.hot.min()) / (v.hot.max() - v.hot.min())

In [40]:
v.hot = v_norm *100

In [41]:
a_norm = (a.hot - a.hot.min()) / (a.hot.max() - a.hot.min())
a.hot = a_norm * 100

In [42]:
a.tail()

         author_id       hot
1322297    1367530  0.000000
1322298    1367531  0.010585
1322299    1367533  0.000000
1322300    1367535  0.010585
1322301    1367536  0.000000

In [43]:
a.rename(columns={'hot':'auth_hotness'}, inplace=True)
v.rename(columns={'hot':'vid_hotness'}, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'author_id'

In [44]:
act = pd.merge(act,v,on='video_id',how='left')
act = pd.merge(act,a,on='author_id',how='left')

In [45]:
act.head()

,user_id,day,page,video_id,author_id,action_type,vid_hotness,auth_hotness
0,1062323,22,3,2877472,880271,0,0.000000,0.095265
1,639898,17,3,740662,210200,0,0.000000,0.000000
2,1260200,5,3,3332414,162866,0,0.000000,0.024698
3,817201,22,3,1129617,530246,0,0.045372,0.356362
4,817201,23,3,1129617,530246,0,0.045372,0.356362

In [46]:
act.to_csv('data/user_activity_log.csv', index=False)

In [53]:
act.auth_hotness.describe()

count    4.675000e+06
mean     6.275666e+00
std      1.289439e+01
min      0.000000e+00
25%      4.030577e-01
50%      1.869354e+00
75%      6.087561e+00
max      1.000000e+02
Name: auth_hotness, dtype: float64

In [34]:
act.head()

   user_id  day  page  video_id  author_id  action_type  vid_hotness
0  1062323   22     3   2877472     880271            0     0.000000
1   639898   17     3    740662     210200            0     0.000000
2  1260200    5     3   3332414     162866            0     0.000000
3   817201   22     3   1129617     530246            0     0.078309
4   817201   23     3   1129617     530246            0     0.078309

In [27]:
a.reset_index(inplace=True)

In [29]:
a.to_csv('data/creater_hotness.csv', index=False)

In [28]:
a

         author_id  hot
0                1    1
1                2    1
2                3    1
3                4    9
4                5    1
5                6    2
6                7    1
7                8    1
8                9    1
9               10    1
10              11    1
11              12    3
12              13    1
13              14    1
14              15    1
15              17    1
16              18    2
17              19    1
18              20    2
19              21    1
20              22    2
21              23    1
22              24    2
23              25    1
24              26    4
25              27    1
26              28    2
27              29    2
28              31    1
29              32    1
...            ...  ...
1322272    1367505    1
1322273    1367506    2
1322274    1367507    1
1322275    1367508    1
1322276    1367509    3
1322277    1367510    1
1322278    1367511    1
1322279    1367512    2
1322280    1367513    1
1322281    1367514    1
1322282    1367515    5
1322283    1367516    1
1322284    1367517    1
1322285    1367518    2
1322286    1367519    2
1322287    1367520    1
1322288    1367521    1
1322289    1367522    1
1322290    1367523    1
1322291    1367524    4
1322292    1367525    1
1322293    1367526    2
1322294    1367527    1
1322295    1367528    2
1322296    1367529    1
1322297    1367530    1
1322298    1367531    4
1322299    1367533    1
1322300    1367535    4
1322301    1367536    1

[1322302 rows x 2 columns]