In [112]:
import pandas as pd
import numpy as np

In [17]:
a = pd.DataFrame([1,2,3,4,5,6,6])

In [18]:
a

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  6

In [19]:
int (a.var())

3

In [20]:
a['jk'] = [1,2,3,4,5,6,7]

In [21]:
a

   0  jk
0  1   1
1  2   2
2  3   3
3  4   4
4  5   5
5  6   6
6  6   7

In [22]:
a['type'] = [1,0,0,1,1,1,0]

In [23]:
a

   0  jk  type
0  1   1     1
1  2   2     0
2  3   3     0
3  4   4     1
4  5   5     1
5  6   6     1
6  6   7     0

In [24]:
a['user_id'] = [1,3,5,3,5,1,5]

In [25]:
a

   0  jk  type  user_id
0  1   1     1        1
1  2   2     0        3
2  3   3     0        5
3  4   4     1        3
4  5   5     1        5
5  6   6     1        1
6  6   7     0        5

In [52]:
b = a.groupby(['type'])

In [91]:
a['page'] = [1,3,5,3,5,1,5]

TypeError: list indices must be integers or slices, not str

In [56]:
b.count().jk

type
0    3
1    4
Name: jk, dtype: int64

In [45]:
a.jk.

0          7
jk         7
type       7
user_id    7
page       7
dtype: int64

In [42]:
b.apply(lambda x: print(type(x)))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: []
Index: []

In [66]:
a

   0  jk  type  user_id  page  day
0  1   1     1        1     1    1
1  2   2     0        3     3    2
2  3   3     0        5     5    3
3  4   4     1        3     3    4
4  5   5     1        5     5    2
5  6   6     1        1     1    1
6  6   7     0        5     5    1

In [88]:
a.groupby('day').count()

AttributeError: 'list' object has no attribute 'groupby'

In [62]:
a.groupby('day').count()['user_id'].max()

3

In [73]:
for i in range(1,a['user_id'].count()):
    print (a['jk'][i])

2
3
4
5
6
7

In [94]:
a

   day
0    1
1    2
2    3
3    4
4    5
5    6
6   14
7   20

In [166]:
a = pd.DataFrame({'day':[1,2,3]})

In [184]:
tmp = pd.DataFrame()

b = np.array(a['day'])
b[:-1]

array([1, 2])

In [152]:
tmp

In [147]:
a['day'][5]

KeyError: 5

In [107]:
a = pd.read_csv('data_one.csv')

In [109]:
a.columns

Index(['user_id', 'create_count', 'create_day_mean', 'create_day_max',
       'create_day_min', 'create_day_std', 'create_day_var',
       'last_day_cut_max_day', 'create_sub_register_x',
       'max_create_times_per_day', 'device_type', 'register_type',
       'register_day_cut_max_day', 'launch_count', 'launch_day_mean',
       'launch_day_max', 'launch_day_min', 'launch_day_std', 'launch_day_var',
       'launch_day_cut_max_day', 'create_sub_register_y',
       'max_launch_times_per_day', 'activity_count', 'activity_day_mean',
       'activity_day_max', 'activity_day_min', 'activity_day_std',
       'activity_day_var', 'activity_day_ske', 'activity_day_kur',
       'activity_day_cut_max_day', 'create_sub_register', '0_page_count',
       '1_page_count', '2_page_count', '3_page_count', '4_page_count',
       '0_page_count_div_sum', '1_page_count_div_sum', '2_page_count_div_sum',
       '3_page_count_div_sum', '4_page_count_div_sum', '0_action_count',
       '1_action_count', '2_action_count', '3_action_count', '4_action_count',
       '5_action_count', '0_action_count_div_sum', '1_action_count_div_sum',
       '2_action_count_div_sum', '3_action_count_div_sum',
       '4_action_count_div_sum', '5_action_count_div_sum',
       'max_act_times_per_day', 'watch_self', 'label'],
      dtype='object')